<config>
  <applications>
    <app name="HumansGame"      port="5106" ip="45.63.19.226" />
    <app name="CriptizidsGame"  port="5110" ip="104.238.128.48" />
    <app name="NeutralGame"     port="5111" ip="104.207.135.163" />
    <app name="BGame"           port="5112" ip="45.63.1.88" />
    <app name="Login"           port="5107" ip="45.63.0.198" />
    <app name="SelectCharacter" port="5108" ip="45.63.0.198" />
  </applications>
</config>
