<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NebulaGame.GameServerSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <NebulaGame.GameServerSettings>
            <setting name="MasterIPAddress" serializeAs="String">
                <value>192.168.1.28</value>
            </setting>
            <setting name="GamingTcpPort" serializeAs="String">
                <value>4561</value>
            </setting>
            <setting name="GamingUdpPort" serializeAs="String">
                <value>5106</value>
            </setting>
            <setting name="ConnectRetryInterval" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="OutgoingMasterServerPeerPort" serializeAs="String">
                <value>4520</value>
            </setting>
            <setting name="LatencyMonitorAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="RelayPortTcp" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RelayPortWebSocket" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WorkloadConfigFile" serializeAs="String">
                <value>192.168.1.28</value>
            </setting>
            <setting name="PublicIPAddress" serializeAs="String">
                <value>192.168.1.28</value>
            </setting>
            <setting name="LatencyMonitorAddressUdp" serializeAs="String">
                <value />
            </setting>
            <setting name="RelayPortUdp" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EnableLatencyMonitor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GamingWebSocketPort" serializeAs="String">
                <value>9091</value>
            </setting>
            <setting name="AppStatsPublishInterval" serializeAs="String">
                <value>1000</value>
            </setting>
        </NebulaGame.GameServerSettings>
    </applicationSettings>
</configuration>